<div class="container-fluid">
	<h3>My Tags</h3>
	<!-- <div class="row"> -->
		<div class='my-tags'>
			<% current_user.tags.each do |tag| %>
				<span class='btn btn-info my-tag' href='<%= current_user.id %>' id='<%= tag.id %>'><%= tag.subject %> &times;</span>
			<% end %>
		</div>
	<!-- </div> -->

	<h3>Other Tags</h3>
	<!-- <div class="row"> -->
		<div class="other-tags">
			<% @tags.each do |tag| %>
				<span class='btn btn-success other-tag' href='<%= current_user.id %>' id='<%= tag.id %>'>
					<%= tag.subject %> +
				</span>
			<% end %>
		</div>
	<!-- </div> -->

	<div class="text-muted">
	<h2>My Messages</h2>
	<!-- <div class="row"> -->
		<% @messages.each do |message| %>
			<div>
				<% message.tags.each do |tag| %>
					<%= tag.subject %>
				<% end %>
				<%= message.body %>
			</div>
		<% end %>
	<!-- </div> -->
		</div>
	</div>
</div>