<!DOCTYPE html>
<html>
<head>
  <title>CommunityMessageHub</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class='navbar hidden-xs hidden-sm'>
  <ul class='col-xs-offset-4 col-md-10 text-right nav-list'>
    <% if user_signed_in? %>
    <li>
      <%= link_to "Profile", user_path(current_user) %>
      <i class="fa fa-user"></i>
    </li>
    <span class='hidden-xs'>|</span>
    <li class='hidden-xs signed-in-as'>Signed in as <%= current_user.username %>. Not you?</li>
    <span class='hidden-xs'>|</span>
    <li>
      <%= link_to "Sign out", destroy_user_session_path,:method => :delete %>
      <i class="fa fa-sign-out"></i>
    </li>
    <% else %>
    <li><%= link_to "Sign up", new_user_registration_path %></li>
    <span class='hidden-xs'>|</span>
    <li>
      <%= link_to "Sign in", new_user_session_path %> 
      <i class="fa fa-sign-in visible-xs"></i>
    </li>
    <% end %>
  </ul>
</nav>

<%= yield %>

</body>
</html>
